@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: 0 0% 100%;
    --input: 214.3 31.8% 91.4%;
    --ring: 215 20.2% 65.1%;
  }
  
  .dark {
    --background: 0 0% 3.9%;
    --input: 214.3 31.8% 91.4%;
    --ring: 215 20.2% 65.1%;
  }
  